<p>
  <b>Data Entrada:</b>
  <%=h @reserva.dataEntrada %>
</p>

<p>
  <b>Data Saida:</b>
  <%=h @reserva.dataSaida %>
</p>


<%= link_to 'Editar', edit_reserva_path(@reserva) %> |
<%= link_to 'Voltar', reservas_path %>
