<h1>Consultas</h1>

<p>
<%= link_to 'Qual a taxa de ocupação do hotel na data X?', :controller => "consultas", :action => "con1" %>
</p>
<p>
<%= link_to 'Qual a evolução do valor faturado pelo hotel nos três últimos meses?', :controller => "consultas", :action => "con2" %>
</p>
<p>
<%= link_to 'Quais os serviços que mais faturaram no mês anterior?', :controller => "consultas", :action => "con4" %>
</p>

<br />
