<h1>Consultas</h1>
<p>Qual a evolução do valor faturado pelo hotel nos três últimos meses?</p>
<p>
Um mes atras: 
<b><%= @total1 %></b>
</p>
<p>
Dois meses atras: 
<b><%= @total2 %></b>
</p>
<p>
Três meses atras:
<b><%= @total3 %></b>
</p>

<p>
<%= link_to 'Voltar', :controller => "consultas", :action => "index" %>
</p>
