<h1>Consultas</h1>
<p>Em qual apartamento está o hospede X?</p>
<%
  unless @apts
	form_tag :action => "con3" do
%>
  <p>
    <%= label_tag :hospede_id, "Escolha o hospede" %><br />
    <%= select("hospede","id", Hospede.find(:all, :order => "nome").collect {|h| [ h.nome, h.id ] }, {}) %>
  </p>
<br />
<input type="submit" value="Consultar" />

<% end %>
<% else %>
Lista de apartamentos que o hospede alugou: 
<%	for apt in @apts %>
<p>
- 
<% apartamento = "Apartamento ".concat(apt.num.to_s) %>
<%= link_to apartamento, :controller => "apartamentos", :action => "show", :id => apt.id  %>
</p>
<%	end %>
<% end %>

<p>
<%= link_to 'Voltar', :controller => "consultas", :action => "index" %>
</p>
