<h1>Consultas</h1>
<%
  unless @apts
	form_tag :action => "con3" do
%>
  <p>
    <%= label_tag :hospede_id, "Escolha o hospede" %><br />
    <%= select("hospede","id", Hospede.find(:all, :order => "nome").collect {|h| [ h.nome, h.id ] }, {}) %>
  </p>
<br />
<input type="submit" value="Consultar" />

<% end %>
<% else %>
<%	for apt in @apts %>
<p>
<%=		apt.num %>
</p>
<%	end %>
<% end %>

<br />
