<h1>Consultas</h1>
<p>Quais os serviços que mais faturaram no mês anterior?</p>
<% if @totais %>
	<table width="60%">
	<tr class="list">
		<th>Serviço</th>
		<th>Faturamento</th>
	<tr>
	<% par_impar = 0
		for bla in @totais 
			par_impar = 1 - par_impar %>
	<tr class="listLine<%= par_impar %>">
    		<td width="60%"><%= bla.nome %></td>
		<td width="40%"><%= bla.total %></td>
	<tr>

	<% end %>
	</table>
<% else %>
<p>Não houve nenhum serviço alugado no mes passado.</p>
<% end %>

<p>
<%= link_to 'Voltar', :controller => "consultas", :action => "index" %>
</p>
